<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">   
            {{>header}}
            <p><b>{{helpText}}</b></p>

            <ul>
                <li>Enter any loction in the search area</li>
                <li>Click on Search button</li>
                <li>Bang On!! Weather will be displayed</li>
            </ul>
        </div>

        {{>footer}}
    </body>
</html>